.b{
    height: 300px;
    width: 400px;
    border:1px solid black;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.ball{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    display: inline-block;
    position: absolute;
    /* top: 34px; */
}