/* header */
header{
    height: 100px;
    background-color: white;
}
.width{
    width: 1170px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align: center;
    margin: 0 auto;
}

.h-logo{
    line-height: 100px;
    float: left;
}
.h-li{
    list-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: #3f4244;
    line-height: 44px;
    padding: 17px 0px;
    float: left;
    padding-left: 10px;
}
.h-li-a{
    display: block;
    padding: 0px 25px;
    color: #3f4244;
}
a{
    text-decoration: none;
}
.h-li-a:hover{
    height: 45px;
    border-radius:9px ;
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}

/* hero */
.hero{
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}
.hero-t{
    font-weight: light;
    font-family: "Roboto";
    font-size: 60px;
    color: white;
    padding-top:265px ;
    padding-bottom: 66px;
    text-align: center;
}
.hero-b{
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 70px;
    line-height: 66px;
    background-image: linear-gradient(180deg,#ff6954 30%,#ff3a58 70%);
    border-radius: 9px;
}
.hero-b-t{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
}
.hero-btn{
    padding-bottom: 247px;
}
.hero-l{
    display: block;
    color: white;
}

/* services */
.serve-w{
    overflow: auto;
    width: 1170px;
    margin: 0 auto;
}
.ser1{
    float: left;
    padding-top: 82px;
    /* height: 450px; */
    padding-bottom: 20px;
    width: 25%;
    overflow: auto;
}
.ser1:hover{
    background-color: rgba(255, 200, 193, 0.26);
}
.ser1-i{
    padding: 0px 70px;
}
.ser1-t{
    color: #3f4244;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}
.ser1-p{
    text-align: center;
    color: #929ba0;
    font-size: 13px;
}
.ser-btn{
    width: 1170px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 80px;
}
/* browser */
.browser{
    /* height: 720px; */
    background-image: linear-gradient(180deg,#ff6c54,#ff3a58);
}
.brow-t{
    text-align: center;
    margin: 0 auto;
    font-family:'Roboto' ;
    font-size: 40px;
    color: white;
    padding-top: 90px;
    padding-bottom: 41px;
}
.brow-p{
    text-align: center;
    margin: 0 auto;
    font-family:'Roboto' ;
    font-size: 13px;
    color: white;
    padding-bottom: 240px;
    width: 770px;
}
.brow-f{   
    width: 970px;
    height: 255px;
    position: relative;
    margin: 0px 100px;
    padding-bottom: 10px;
}
.brow-f1{
    position: absolute;
    width: 459px;
    height: 255px;
    left: 0px;
    bottom: -17px;
    z-index: 10;
}
.brow-f2{
    position: absolute;
    width: 459px;
    height: 255px;
    right: 0px;
    bottom: -17px;
    z-index: 10;
}
.brow-f3{
    position: absolute;
    width: 459px;
    height: 255px;
    left: 186px;
    bottom: 120px;
    z-index: 20;
}
/* .brow-f2:hover{
    position: absolute;
    width: 624px;
    height: 393px;
    left: 186px;
} */

/* phone */
.phone{
    width: 1170px;
    margin: 0 auto;
    overflow: auto;
}
.phone-i{
    float: left;
    width: 500px;
    height: 584px;
    position: relative;
}
.phone-l{
    width: 217px;
    height: 434px;
    position: absolute;
    top: 70px;
    left: 60px;
    z-index: 20;
}
.phone-r{
    position: absolute;
    width: 163px;
    height: 327px;
    top: 112px;
    right: 136px;
    z-index: 10;
}
.phone-t{
    float: left;
    width: 570px;
}
.phone-t-h{
    padding-top: 147px;
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-size: 40px;
    color: #929ba0;
}
.phone-t-p{
    font-family: 'Roboto';
    font-size: 15px;
    color: #929ba0;
}
.phone-btn{
    padding-top: 60px;
    padding-bottom: 120px;  
}
/* portfolio */
.portfo{
    /* height: 1290px; */
    overflow: auto;
    background-image: linear-gradient(180deg,#5defc9,#4fe2cb);
}
.portfo-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-top: 72px;
    padding-bottom: 35px;
}
.portfo-p{
    text-align: center;
    margin: 0 auto;
    width: 770px;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 115px;
}
.portfo-list{
    text-align: center;
    margin: 0 auto;
    width: 570px;
    height: 55px;
}
.portfo-li{
    float: left;
    list-style: none;
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
}
.first{
    padding-left: 0px;
    color: white;
}
/* portfolio-tabs */
.portfo-tab{
    overflow: auto;
    width: 1170px;
    margin: 0 auto;
}
.tab{
    float: left;
    height: 370px;
    width: 360px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.tab-t{
    width: 370px;
    background-color: white;
}
.tab-i{
    width: 370px;
    height: 240px;
}
.tab-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
    padding-top: 22px;
    padding-bottom: 22px;
}
.tab-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    width: 300px;
    padding-bottom: 30px;
}
.more{
    text-align: center;
    margin: 0 auto;
    height: 61px;
    padding-top: 55px;
    padding-bottom: 70px;
}
/* statistics */
.stats{
    background-color: #233537;
    overflow: auto;
}
.stat1{
    float: left;
    width: 25%;
    height: 340px;
}
.stat1-img{
    text-align: center;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 40px;
}
.stat1-n{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
.stat1-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #10cab7;
}
/* team */
.team{
    text-align: center;
    margin: 0 auto;
    width: 1170px;
}
.team-t{
    padding-top: 80px;
    padding-bottom: 42px;
}
.team-p{
    font-family: 'Roboto';
    font-size: 40px;
    color: #3f4244;
}
.team-pa{
    text-align: center;
    margin: 0 auto;
    width: 770px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    padding-bottom: 100px;
}
.team{
    width: 1170px;
    overflow: auto;
    padding-bottom: 50px;
}
.team1{
    width: 25%;
    padding-bottom: 58px;
    float: left;
}
.team1-i{
    width: 270px;
    height: 200px;
    background-color: #232e3d;
}
.team1-t{
    width: 270px;
    background-image: linear-gradient(180deg,#65f7c7,#52e4cb);\
    
}
.team1-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 25px;
}
.team1-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: #3f4244;
    padding-top: 32px;
    padding-bottom: 13px;
}
.team1-para{
    text-align: center;
    margin: 0 auto;
    width: 234px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
    padding-bottom: 25px;
}
/* quote */
.quote{
    background-image: linear-gradient(180deg,#ff5b55,#ff3558);
}
.quote-i{
    text-align: center;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 15px;
}
.quote-h{ 
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
}
.quote-p{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 48px;;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}
.quote-btn{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}
.lbtn{
    padding-right: 32px;
}
/* subscribe */
.subs{
    background-color: #233537;
}
.subs-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    padding-top: 90px;
    padding-bottom: 42px;
}
.subs-btn{
    text-align: center;
    margin: 0 auto;
    width: 172px;
    line-height: 52px;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 95px;
    background-image: url(../images/sub.png);
    background-repeat: no-repeat;
}
/* about */
.about{
    width: 1170px;
    margin: 0 auto;
}
.about-wrap{
    padding-top: 95px;
    padding-bottom: 95px;
    overflow: auto;
}
.about-l{
    float:left;
    padding-right: 60px;
}
.about-b{
    width: 570px;
    height: 300px;
    background-color: #232e3d;
}
.about-r{
    float: left;
    width: 520px;
}
.about-h{
    font-family: 'Roboto';
    font-size: 20px;
    color: #3f4244;
    padding-top: 40px;
    padding-bottom: 45px;
}
.about-p{
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
}
/* add */
.add-m{
    height: 530px;
    background-image: linear-gradient(180deg,#5aecc9,#55e7ca);
}
.add{
    width: 1170px;
    margin: 0 auto;
}
.add-l{
    width: 494px;
    height: 530px;
    position: relative;
    float: left;
}
.add-i{
    width: 220px;
    height: 446px;
    position: absolute;
    right: 120px;
    bottom: -40px;
}
.add-r{
    float: left;
    width: 670px;
}
.add-r-h{
    padding-top: 208px;
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-size: 25px;
    color: white;
}
.add-r-t{
    padding-bottom: 25px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #243638;
}
.add-r-p{
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}
.client{
    width: 1170px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 60px;
}
.client-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: 3f4244;
    padding-top: 115px;
    padding-bottom: 38px;
}
.client-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    width: 770px;
    padding-bottom: 78px;
}
.client1-box{
    width: 1170px;
}
.client1{
    float: left;
    width: 369px;
    background-image: linear-gradient(180deg,#62f4c8,#54e6ca);
    margin-right: 30px;
}
.client1-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    padding-top: 45px;
    padding-bottom: 12px;

}
.client1-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #243638;
    padding-bottom: 30px;
}
.client1-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    width: 316px;
    padding-bottom: 56px;
}
.clientl{
    float: left;
    width: 369px;
    background-image: linear-gradient(180deg,#62f4c8,#54e6ca);
    margin-right: 0px;
}

/* contact */
.contact{
    overflow: auto;
    background-image: linear-gradient(180deg,#ff5d55,#ff2e59);
}
.cont-t-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-top: 84px;
    padding-bottom: 44px;
}
.cont-t-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    width: 770px;
    padding-bottom: 98px;
}
.i-form{
    padding: 0px 200px 90px 200px;
    width: 770px;
    margin: 0 auto;
    text-align: center;
}
.form1-w{
    width: 372px;
    height: 52px;
    background-image: url(../images/contact1.png);
    float: left;
    margin-right: 25px;
}
.form2-w{
    width: 372px;
    height: 52px;
    background-image: url(../images/contact1.png);
    float: left;
}
.form1{
    float: left;
    background-color: transparent;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    line-height: 52px;
    padding-left: 30px;
    width: 342px;
}
::placeholder{
    color: white;
    opacity: 1;
}
.form3{
    float: left;
    background-color: transparent;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    line-height: 52px;
    padding-left: 30px;
    width: 742px;
}
.form3-w{
    width: 772px;
    height: 52px;
    background-image: url(../images/contact2.png);
    float: left;
    margin-top: 84px;
}
.form-s{
    float: right;
    color: white;
    width: 169px;
    background-color: #233537;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 48px;
    margin-top: 36px;
    margin-bottom: 90px;
}
/* map */
.map{
    background-color: #232e3d;
    overflow: auto;
}
.map-float{
    text-align: center;
    margin: 0 auto;
    width: 1170px;
    overflow: auto;
}
.map-f{
    margin-top: 112px;
    margin-bottom: 115px;
    width: 370px;
    height: 180px;
    float: right;
    background-image: linear-gradient(180deg,#5ef0c9,#4adccc);
}
.map-f-p1{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.map-f-p2{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-bottom: 24px;
}
.map-f-p3{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-bottom: 37px;
}
/* copyright */
.crt{
    height: 110px;
    background-color: #233537;
    line-height: 110px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
}
.crt-l{
    color: #10cab7;
}
