/* header */
header{
    height: 100px;
    background-color: white;
}
.width{
    width: 1170px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.h-logo{
    padding: 38px 0px;
}
.h-li{
    list-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: #3f4244;
    line-height: 44px;
    padding: 17px 0px;
    /* margin-left: 30px 40px; */
}
.h-li-a{
    display: block;
    padding: 0px 25px;
    color: #3f4244;
}
a{
    text-decoration: none;
}
.h-li-a:hover{
    /* width: 100px; */
    height: 45px;
    border-radius:9px ;
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}
.hero{
    height: 700px;
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}
.hero-t{
    font-weight: light;
    font-family: "Roboto";
    font-size: 60px;
    color: white;
    padding-top:265px ;
    padding-bottom: 66px;
    text-align: center;
}
.hero-b{
    width: 250px;
    height: 70px;
    line-height: 66px;
    background-image: linear-gradient(180deg,#ff6954 30%,#ff3a58 70%);
    border-radius: 9px;
    margin: 0px 462px;
}
.hero-b-t{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-style: medium;
    color: white;
}