/* header */
.head{
    background-color: white;
    width: 73.125em;
    margin: 0 auto;
    overflow: auto;
}
*{
    outline: 2px dotted yellow;
}
.width{
    width: 73.125em;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.h-nav{
    float: right;
    /* text-align: right; */
}
.h-logo{
    line-height: 100px;
    float: left;
}
label{
    /* float: right; */
}
#toggle,label{
    display: none;
    text-align: right;
}
.h-li{
    list-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: #3f4244;
    line-height: 44px;
    padding: 28px 0px;
    float: left;
    padding-left: 10px;
}
.h-li-a{
    display: block;
    padding: 0px 25px;
    color: #3f4244;
}
.h-nav-s{
    float: right;
}
a{
    text-decoration: none;
}
.h-li-a:hover{
    border-radius:9px ;
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}
.h-nav-s{
    display: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
/* hero */
.hero{
    background-image:linear-gradient(180deg,#65f7c7,#4cdfcc) ;
}
.hero-t{
    font-weight: light;
    font-family: "Roboto";
    font-size: 60px;
    color: white;
    padding-top:265px ;
    padding-bottom: 66px;
    text-align: center;
}
.hero-b{
    text-align: center;
    margin: 0 auto;
    width: 21.3675%;
    line-height: 66px;
    background-image: linear-gradient(180deg,#ff6954 30%,#ff3a58 70%);
    border-radius: 9px;
}
.hero-b-t{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
}
.hero-btn{
    padding-bottom: 247px;
}
.hero-l{
    display: block;
    color: white;
}

/* services */
.serve-w{
    overflow: auto;
    width: 73.125em;
    margin: 0 auto;
}
.ser1{
    float: left;
    padding-top: 82px;
    padding-bottom: 20px;
    width: 25%;
    overflow: auto;
}
.ser1:hover{
    background-color: rgba(255, 200, 193, 0.26);
}
.ser1-i{
    padding: 0px 70px;
}
.ser1-t{
    color: #3f4244;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}
.ser1-p{
    text-align: center;
    color: #929ba0;
    font-size: 13px;
}
.ser-btn{
    width: 73.125em;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 80px;
}
/* browser */
.browser{
    background-image: linear-gradient(180deg,#ff6c54,#ff3a58);
}
.brow-t{
    text-align: center;
    margin: 0 auto;
    font-family:'Roboto' ;
    font-size: 40px;
    color: white;
    padding-top: 90px;
    padding-bottom: 41px;
}
.brow-p{
    text-align: center;
    margin: 0 auto;
    font-family:'Roboto' ;
    font-size: 13px;
    color: white;
    padding-bottom: 240px;
    width: 65.812%;
}
.brow-f{   
    width: 82.906%;
    height: 255px;
    position: relative;
    margin: 0px 100px;
    padding-bottom: 10px;
}
.brow-f1{
    position: absolute;
    width: 39.2308%;
    height: 255px;
    left: 0px;
    bottom: -1px;
    z-index: 10;
}
.brow-f2{
    position: absolute;
    width: 39.2308%;
    height: 255px;
    right: 0px;
    bottom: -1px;
    z-index: 10;
}
.brow-f3{
    position: absolute;
    width: 53.3333%;
    height: 393px;
    left: 186px;
    bottom: 0px;
    z-index: 20;
}
/* .brow-f2:hover{
    position: absolute;
    width: 624px;
    height: 393px;
    left: 186px;
} */

/* phone */
.phone{
    width: 73.125em;
    margin: 0 auto;
    overflow: auto;
}
.phone-i{
    float: left;
    width: 42.7350%;
    height: 584px;
    position: relative;
    margin-right: 70px;
}
.phone-l{
    width: 18.547%;
    height: 434px;
    position: absolute;
    top: 70px;
    left: 160px;
    z-index: 20;
}
.phone-r{
    position: absolute;
    width: 13.9316%;
    height: 327px;
    top: 112px;
    right: 136px;
    z-index: 10;
}
.phone-t{
    float: left;
    width: 48.7179%;
}
.phone-t-h{
    padding-top: 147px;
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-size: 40px;
    color: #929ba0;
}
.phone-t-p{
    font-family: 'Roboto';
    font-size: 15px;
    color: #929ba0;
}
.phone-btn{
    padding-top: 60px;
    padding-bottom: 120px;  
}
.phone-b{
    width: 21.3675%;
    line-height: 66px;
    background-image: linear-gradient(180deg,#ff6954 30%,#ff3a58 70%);
    border-radius: 9px;
}
/* portfolio */
.portfo{
    overflow: auto;
    background-image: linear-gradient(180deg,#5defc9,#4fe2cb);
}
.portfo-w{
    width: 73.125em;
    margin: 0 auto;
    overflow: auto;
}
.portfo-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-top: 72px;
    padding-bottom: 35px;
}
.portfo-p{
    text-align: center;
    margin: 0 auto;
    width: 770px;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 115px;
}

.portfo-list{
    text-align: center;
    margin: 0 auto;
    width: 570px;
    height: 55px;
}
.portfo-li{
    float: left;
    list-style: none;
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
}
.first{
    padding-left: 0px;
    color: white;
}
/* portfolio-tabs */
.portfo-tab{
    overflow: auto;
    width: 73.125em;
    margin: 0 auto;
}
.tab{
    float: left;
    width: 31.6239%;
    padding-right: 20px;
    padding-bottom: 30px;
}
.tab-t{
    width: 370px;
    background-color: white;
}
.tab-i{
    width: 100%;
    height: 240px;
}
.tab-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
    padding-top: 22px;
    padding-bottom: 22px;
}
.tab-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    width: 300px;
    padding-bottom: 30px;
}
.more{
    text-align: center;
    margin: 0 auto;
    height: 61px;
    padding-top: 55px;
    padding-bottom: 70px;
}
/* statistics */
.stats{
    background-color: #233537;
    overflow: auto;
}
.stat1{
    float: left;
    width: 25%;
    padding-bottom: 80px;
}
.stat1-img{
    text-align: center;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 40px;
}
.stat1-n{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
.stat1-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #10cab7;
}
/* team */
.team{
    text-align: center;
    margin: 0 auto;
    width: 73.125em;
    overflow: auto;
    padding-bottom: 50px;
}
.team-t{
    padding-top: 80px;
    padding-bottom: 42px;
}
.team-p{
    font-family: 'Roboto';
    font-size: 40px;
    color: #3f4244;
}
.team-pa{
    text-align: center;
    margin: 0 auto;
    width: 65.812%;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    padding-bottom: 100px;
}
.team1{
    width: 25%;
    padding-bottom: 58px;
    float: left;
}
.team1-i{
    width: 92.3077%;
    display: block;
    height: 220px;
    background-color: #232e3d;
}
.team1-t{
    width: 92.3077%;
    background-image: linear-gradient(180deg,#65f7c7,#52e4cb);
}
.team1-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 25px;
}
.team1-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: #3f4244;
    padding-top: 32px;
    padding-bottom: 13px;
}
.team1-para{
    text-align: center;
    margin: 0 auto;
    width: 86.6667%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3f4244;
    padding-bottom: 25px;
}
/* quote */
.quote{
    background-image: linear-gradient(180deg,#ff5b55,#ff3558);
}
.quote-i{
    text-align: center;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 15px;
}
.quote-h{ 
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
}
.quote-p{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 48px;;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}
.quote-btn{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}
.lbtn{
    padding-right: 32px;
}
/* subscribe */
.subs{
    background-color: #233537;
}
.subs-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    padding-top: 90px;
    padding-bottom: 42px;
}
.subs-btn{
    text-align: center;
    margin: 0 auto;
    width: 14.7008%;
    line-height: 52px;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 95px;
    background-image: url(../images/sub.png);
    background-repeat: no-repeat;
}
/* about */
.about{
    width: 73.125em;
    margin: 0 auto;
}
.about-wrap{
    padding-top: 95px;
    padding-bottom: 95px;
    overflow: auto;
}
.about-l{
    float:left;
    padding-right: 60px;
}
.about-b{
    /* image */
    /* width: 570px; */
    /* height: 300px; */
    /* background-color: #232e3d; */
}
.about-r{
    float: left;
    width: 44.4444%;
}
.about-h{
    font-family: 'Roboto';
    font-size: 20px;
    color: #3f4244;
    padding-top: 40px;
    padding-bottom: 45px;
}
.about-p{
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
}
/* add */
.add-m{
    height: 530px;
    background-image: linear-gradient(180deg,#5aecc9,#55e7ca);
}
.add{
    width: 73.125em;
    margin: 0 auto;
}
.add-l{
    width: 42.2222%;
    height: 530px;
    position: relative;
    float: left;
}
.add-i{
    width: 18.8034%;
    height: 446px;
    position: absolute;
    left: 152px;
    bottom: -40px;
}
.add-r{
    float: left;
    width: 57.265%;
}
.add-r-h{
    padding-top: 208px;
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-size: 25px;
    color: white;
}
.add-r-t{
    padding-bottom: 25px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #243638;
}
.add-r-p{
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    padding-bottom: 170px;
}
/* client */
.client{
    width: 73.125em;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 60px;
}
.client-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: #3f4244;
    padding-top: 115px;
    padding-bottom: 38px;
}
.client-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #929ba0;
    width: 65.812%;
    padding-bottom: 78px;
}
.client1-box{
    width: 73.125em;
}
.client1{
    float: left;
    width: 31.5384%;
    background-image: linear-gradient(180deg,#62f4c8,#54e6ca);
    margin-right: 30px;
}
.client1-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    padding-top: 45px;
    padding-bottom: 12px;

}
.client1-t{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: #243638;
    padding-bottom: 30px;
}
.client1-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    width: 85.6368%;
    padding-bottom: 56px;
}
.clientl{
    float: left;
    width: 31.5384%;
    background-image: linear-gradient(180deg,#62f4c8,#54e6ca);
    margin-right: 0px;
}

/* contact */
.contact{
    overflow: auto;
    background-image: linear-gradient(180deg,#ff5d55,#ff2e59);
}
.cont-t-h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 40px;
    color: white;
    padding-top: 84px;
    padding-bottom: 44px;
}
.cont-t-p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    width: 65.812%;
    padding-bottom: 98px;
}
.i-form{
    padding: 0px 200px 90px 200px;
    width: 66.1538%;
    /* height: 367px; */
    overflow: auto;
}
.form1-w{
    width: 48.062%;
    background-image: url(../images/contact1.png);
    float: left;
    margin-right: 25px;
}
.form2-w{
    width: 48.062%;
    background-image: url(../images/contact1.png);
    float: left;
}
.form3-w{
    width: 99.7416%;
    background-image: url(../images/contact2.png);
    float: left;
    margin-top: 84px;
}
.form1{
    float: left;
    background-color: transparent;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    line-height: 52px;
    padding-right: 15px;
    padding-left: 15px;
    width: 92%;
}
::placeholder{
    color: white;
    opacity: 1;
}
.form3{
    float: left;
    background-color: transparent;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    line-height: 52px;
    padding-right: 15px;
    padding-left: 15px;
    width: 96%;
}

.form-s{
    float: right;
    color: white;
    width: 14.4444%;
    background-color: #233537;
    border: none;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 48px;
    margin-top: 36px;
    margin-bottom: 90px;
    width: 22.2222%;
}
/* map */
.map{
    background-color: #232e3d;
    overflow: auto;
}
.map-float{
    width: 73.125em;
    overflow: auto;
}
.map-f{
    margin-top: 112px;
    margin-bottom: 115px;
    width: 31.6239%;
    float: right;
    background-image: linear-gradient(180deg,#5ef0c9,#4adccc);
}
.map-f-p1{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.map-f-p2{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-bottom: 24px;
}
.map-f-p3{
    padding-left: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    padding-bottom: 37px;
}
.map-e{
    float: left;
    margin: 50px 0px 0px 100px;
}
/* copyright */
.crt{
    background-color: #233537;
    line-height: 110px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
}
.crt-l{
    color: #10cab7;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html,body{
        margin: 0;
        padding: 0;
        width: 768px;
    }
    .head{
        width: 46.75em;
        padding: 0px 10px;
        margin: 0px;
    }
    label{
        display: block;
        cursor: pointer;
        margin: 34px 0px;
    }
    #toggle{
        display: none;
    }
    .h-li{
        display: none;
        float: none;
    }  
    #toggle:checked + .h-li{
        display: block;
        background-color: rebeccapurple;
    }  
    .width{
        width: 46.75em;
    }
    .serve-w{
        width: 46.75em;
    }
    .ser1{
        float: left;
        width: 43%;
        padding: 20px ;
    }
    .ser1-i{
        padding: 0px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        float: none;
    }
   .ser1-p{
        display: none;
        width: 100%;
        float: none;
    }
    .ser-btn,.brow-f{
        width: 46.75em;
    }
    .brow-f1{
        left: -83px;
    }
    .brow-f3{
        left: -43px;
    }
    .brow-f2{
        right: 293px;
    }
    .phone{
        width: 46.75em;
    }
    .phone-l{
        left: 40px;
    }
    .phone-t{
        width: 40%;
    }
    .phone-b{
        width: 60%;
    }
    .portfo-p{
        width: 46.75em;
    }
    .portfo-list{
        margin: 0 auto;
        text-align: center;
    }
    .portfo-w, .portfo-tab{
        width: 46.75em;
        text-align: center;
        margin: 0 auto;
    }
    .tab{
        float: none;
        text-align: center;
        margin:  0 auto;
    }
    .more{
        width: 46.75em;
    }
    .stats{
        width: 48em;
    }
    .team{
        width: 46.75em;
        text-align: center;
        margin: 0 auto;
    }
    .team1{
        width: 50%;
    }
    .subs-btn{
        width: 23%;
    }
    .about{
        width: 46.75em;
        text-align: center;
    }
    .about-l{
        float: none;
    }
    .about-p{
        width: 46.75em;
        padding-left: 57px;
        text-align: left;
        margin: 0 auto;
    }
    .add{
        width: 46.75em;
    }
    .add-i{
        left: 40px;
    }
    
    .client-box, .client,.client1-box{
        width: 46.75em;
    }
    .client1, .clientl{
        float: none;
        text-align: center;
        margin: 0 200px;
        margin-bottom: 30px;
    }
    .i-form{
        padding: 0px 50px ;
    }
    .form1-w,.form2-w{
        width: 75%;
        margin-bottom: 20px;
    }
    .form3-w{
        display: none;
    }
    .form-s{
        float: none;
        margin-top: 39px;
        margin-right: 64px;
    }
    .map-float{
        width: 46.75em;
    }
    .map-f{
        float: left;
        margin-top: 20px;
        margin-left: 120px;
    }
}