.carousel-container{
    text-align: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
}
.carousel-image-wrapper{
    height: 100%;
    position: relative;
}

